
.arrow__up{
	background-color: #C4C4C4;
	border-radius: 100%;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow__up img{
	width: 7px;
	display: flex;
}

